<div class="track track_playing">
	<img src="<%=track.image%>">
	<p><%=track.name%></p>
	<audio src="<%=track.url%>" type="audio/mpeg" controls="controls"></audio>
	
	<form method="post" action="/tracks/<%=track.diskName%>?_method=delete">
	    <button id="borrar" type="submit" onClick="return confirm('Delete: <%=track.name%>. Are you sure? ');">
	      Delete track
	    </button>
  	</form>
</div>